 @charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

h1 {
    text-align: center;
    box-shadow: inset 0px 0px 12px 2px #0f5f60;
    border-radius: 10px 10px 10px 10px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav {
    background-color: #707070;
    padding: 3px;
    box-shadow: 2px 5px 5px gray;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 1px 5px black;
    border-radius: 0px 10px;
}

article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: #b0b0b0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}